@font-face {
    font-family: anurati;
    src: url(Anurati-Regular.otf);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #121212;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.intro {
  height: 100vh;
  display: table;
  width: 100%;
}

.Name {
  font-size: 10rem;
  letter-spacing: 0.1em;
  text-align: center;
  font-family: anurati;
  color: #fff;
  font-weight: 100;
  display: table-cell;
  vertical-align: middle;
  animation-name: gore;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes gore {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-120px);
  }
}

.Name-part {
  display: inline-block;
}

.Name.is-expanded .USTAV {
  transform: translateX(0);
  opacity: 1;
  max-width: none;
  transition: transform 500ms 125ms ease, opacity 200ms 275ms;
}

.G {
  position: relative;
  z-index: 1;
  animation: oEnter 750ms ease-in-out;
  animation-fill-mode: forwards;
}

.USTAV {
  opacity: 0;
  transform: translateX(-10%);
  //max-width: 1em;
  transition: transform 300ms 100ms ease, opacity 200ms;
}

@keyframes oEnter {
  0% { color: #121212; transform: rotate(50deg); }
  100% { color: white; transform: rotate(0deg); }
}

.galler_wrapper {
  padding: 50px 0;
  font-size: 0;
}

.gallery_segment_item {
  width: 20%;
  height: 300px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.bg {
    height: 112%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
